/* * {
    font-family: Open;
    font-family: "Open Sans", sans-serif;
    margin: 10px;
}

body {
    background-color: #F0F8FF;
}

nav {

    background-color: #CAE9F5;
    border-radius: 50px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
}

.list-item {
    position: relative;
    padding: 20px 30px 20px 30px;
    font-size: medium;
    width: 55px;
    margin: 10px;
    border-radius: 50px;
    list-style-type: none;
    background-color: #F0F8FF;
}



a {
    text-decoration: none;
    color: black;
    text-align: center;
}

a :hover {
    border: 1px;
    transition: 2s;
    transition-timing-function: ease;
    background-color: rgb(91, 117, 165);
}

.hero-section {
    padding-top: 20px;
    background-color: #BFECFF;
    border-radius: 50px;
    display: flex;
    flex-direction: row-reverse;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); */
/* flex-wrap: wrap; */
}


@keyframes slippery {
    from {
        left: 350px;
    }

    to {
        left: 0px;
    }

}


.intro {
    text-align: left;
    font-size: 30px;
    padding: 20px;

}

.intro h5 {
    position: relative;
    background-color: #F0F8FF;
    padding: 20px;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    animation-name: slippery;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}



.description {
    text-align: left;
    font-size: 20px;
}

.my_image {
    max-width: 350px;
    height: 500px;
    border-radius: 20px;
    padding-left: 100px;

}


.waving {
    animation-name: wave-animation;
    animation-duration: 3.0s;
    animation-iteration-count: 2;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

@media (max-width: 768px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        text-size-adjust: auto;
        background-color: transparent;

    }

    @keyframes new-slippery {}

    .intro {
        background-color: #BFECFF;
    }

    img {
        display: block;
        border: none;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
        background-color: #BFECFF;
    }
}